<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}{% endblock %} - Пегас СПб</title>
{% stylesheets "@all_css" %}
    <link href="{{ asset_url }}" rel="stylesheet">
{% endstylesheets %}
{% javascripts "@all_js" %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% block javascripts %}{% endblock %}
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
  </head>
  <body>
    <div class="container_12">
      <!-- START: site header -->
      <div class="grid_12 header_bg">
        <!-- START: logo + info -->
        <div class="grid_4 alpha header">
          {% spaceless %}
          {% if index is not defined %}<a href="{{ path('homepage') }}">{% endif %}
            <img src="/bundles/websitestatic/images/logo.png" width="299" height="67" alt="Пегас Туристик" title="Пегас Туристик"/>
          {% if index is not defined %}</a>{% endif %}
          {% endspaceless %}
        </div>
        <div class="grid_8 omega header">
          <div class="grid_5 alpha labels">
            <div class="phone_piter">Санкт-Петербург:</div>
            <div>e-mail:</div>
            <div class="common pt10">Москва:</div>
            <div class="common">Регионы:</div>
          </div>
          <div class="grid_3 omega labels_data">
            <div class="phone_piter">+7 (812) 337-15-00</div>
            <div><a href="mailto:spb.sale@pegast.ru">spb.sale@pegast.ru</a></div>
            <div class="phone_common pt10">+7 (495) 967-69-69</div>
            <div class="phone_common">8 800 700 87 47 (бесплатно)</div>
          </div>
        </div>
        <!-- END: logo + info -->
        <!-- START: orange header with corners -->
        <div class="grid_1 alpha corner orange_left">&nbsp;</div>
        <div class="grid_10 shapka">&nbsp;</div>
        <div class="grid_1 omega corner orange_right">&nbsp;</div>
        <!-- END: orange header with corners -->
      </div>
      <!-- white 1px line -->
      <div class="grid_12 white line1px"></div>
      <!-- blue 3px line -->
      <div class="grid_12 blue line3px"></div>
      <!-- END: site header -->
      <!-- START: content -->
      <div class="grid_3 sky left">
        <!-- START: menu -->
        <div class="menu">
          {% block menu %}{% render "WebsiteStaticBundle:Static:menu" %}{% endblock %}
        </div>
        <!-- END: menu -->
        <!-- START: news -->
        <div class="news">
          {% block last_news %}{% render "WebsiteNewsBundle:News:last" with {'quantity': 3} %}{% endblock %}
        </div>
        <!-- END: news -->
        <a href="{{ path('paycard') }}" class="blue_button">
          <span class="paycard">
            <i class="card_mc"></i>
            <i class="card_visa"></i>
            <span>Оплата картами</span>
          </span>
        </a>
        {#
        <button class="blue" onClick="window.location.href='{{ path('paycard') }}';">Оплата картами</button>
        #}
      </div>
      <div class="grid_6 pt15">
        <!-- START: main content -->
        {% block content %}{% endblock %}
        <!-- END: main content -->
      </div>
      <div class="grid_3 aln_center">
        <!-- START: offices -->
        <div class="office">
          {% block offices %}{% render "WebsiteOfficeBundle:Office:shortList" %}{% endblock %}
        </div>
        <!-- END: offices -->
        <a href="{{ path('team') }}" class="blue_button">Наша команда</a>
        {#
        <button class="blue" onClick="window.location.href='{{ path('team') }}';">Наша команда</button>
        #}
      </div>
      <!-- END: content -->
      <!-- START: footer -->
      <div class="grid_12 footer green footer_data">
        2011 &copy; "Pegas Touristik"
        <span class="ml130">Регионы: <span class="data">+7 (495) 287-87-87</span></span>
        <span class="ml20">Санкт-Петербург: <span class="data">+7 (812) 337-15-00</span></span>
        <span class="ml20">e-mail: <a href="mailto:spb.sale@pegast.ru">spb.sale@pegast.ru</a></span>
      </div>
      <!-- END: footer -->
    </div>
  </body>
</html>
